* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #efe8d9;
}

h1 {font-size: 3em;}
h2 {font-size: 2em;}
h3 {font-size: 2em;}
h5 {color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;}
h6 {margin: 0;
padding: 0;}
p {font-size: 1.25em;}
ul {list-style: none;}
a {text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #000;}
li {font-size: 1.25em;
margin-top: 10px;}
i {display: inline-block;
    margin-right: 10px;}

a:hover {
    color: #f30024;
    text-decoration: underline;
}

.bars__menu {
        z-index: 40;
        position: absolute;
        right: 5px;
        top: 70px;
        width: 40px;
        height: 40px;
        cursor: pointer;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f30024;
    margin-top: 10px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.container {
    max-width: 1255px;
    margin: auto;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efe8d9;
    width: 100%;
}

.menu {
    height: 0px;
    position: absolute;
    left: 0px;
    top: 30px;
    overflow: hidden;
    z-index: 10;
    transition: all 300ms;
}

.mostrar_menu {
    height: 320px;
}

header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    background-color: #f30024;
}

header a {
    padding: 15px 12px;
    font-weight: bold;
    color: #f5f5f5;
}

header a:hover { 
    color: #000;
}

#current_date {
    display: none;
}

.hero-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    width: 500px;
    position: relative;
    margin-bottom: 50px;
    padding: 0;
}



.section-hero-desktop {
    display: none;
}

/*noticias de Corrientes*/

#noticias-de-corrientes,
#interior,
#curiosidades {
    display: none;
}

#noticias-de-corrientes-mobile,
#interior-mobile,
#curiosidades-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

#interior-mobile {
    background-color: #f5f5f5;
}

.carta-375x375 p {
    justify-content: center center;
    text-align: left;
    padding-left: 55px;
    width: 100%;
    
    
}

.carta-375x375 h3 {
    font-size: 20px;
}

.text-acent {
    color: #f30024;
}


hr {
    margin: 50px;
}

.espacio-reservado {
    background-color: #f30024;
    background-size: cover;
    text-align: center;
    height: 600px;
    color: rgb(240, 240, 240);
}


    


.img-reservado img {
    width: 400px;
    
}



/*espacio reservado*/

/*footer*/

footer .container {
    width: 100%;
    
}
footer {
    background-color: rgba(35,35,35);
    margin-top: 0;
}



.footer-div-div {
    padding-top: 40px;
    padding-bottom: 15px;
}

.acento-h5 { /*acento letras footer*/
    font-weight: bold;
    color: #f30024;
}

.footer-txt {
    margin-top: 10px;
}

.home-footer-h6 { 
    font-family: 'Orbitron',sans-serif;
    color: #000;
    font-size: 10px;
    margin-left: 9%;
    display: flex;
    position: relative;
    top: 10px;
    color: rgba(80, 80, 80, 0.7);
}
.logo-footer {font-family: lobster, sans-serif;
    font-size: 30px;
    color: rgba(80, 80, 80, 0.7);
    margin: 0;
    padding: 0;
}
.logo-footer:hover {
    transition: 0.5s;
    color: #9B1D20;
}

.home-footer-h6:hover {
    transition: 0.5s;
    color: #000;
}

/*footer*/

/*final*/

.final {
    margin: 0px;
    width: 100%;
    padding: 10px 60px;
    font-size: 10px;
    color: rgb(240, 240, 240);
}

.container-final {
    width: 100%;
    margin: auto;
    background-color: #000;
}

.container-final p {
    max-width: 1000px;
    margin: auto;
}

.container div {
    margin-bottom: 20px;
}




/*desktop*/

@media (min-width: 720px){
    header {
        z-index: 20;
        position: fixed;
        width: 100%;
        height: 100px;
        background-color: #efe8d9;
    }

    #noticias-de-corrientes-mobile,
    #interior-mobile,
    #curiosidades-mobile {
    display: none;
    }

    #noticias-de-corrientes,
    #interior,
    #curiosidades {
    display: block;
    }

    #icon_menu {
        display: none;
    }

    #current_date {
        display: block;
        width: 100%;
    }

    

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: #efe8d9;
        
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        background-color: #efe8d9;
    }

    #current_date {
        width: 100%;
        padding-top: 40px;
        font-weight: bold;
    }

    header a {
        color: #000;
    }

    header a:hover {
        color: #f30024;
        text-decoration: underline;
    }
    
    a:hover {
        color: #f30024;
    }

    a {  text-decoration: none;
        color: #000;
    }

    p {
        font-weight: bold;
    }

    .home {
        display: none;
    }

    .section-hero-desktop {
        background-color: #efe8d9;
        padding-top: 150px;
        display: flex;
        flex-direction: row;
        margin: 0 10%;
        justify-content: center;
        background-position: center center;
    }

    .section-hero-desktop a {
        padding-top: 5%;
    }

    .hero-responsive {
        display: none;
    }
    
    .container {
        width: 100%;
        max-width: 1250px;
        padding: 0;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    
    h2 {
        text-align: left;
        
    }

    .carta-500x500-1 a,
    .carta-500x500-1 h3,
    .carta-500x500-2 a,
    .carta-500x500-2 h3 {
        text-align: left;
    }

    .carta-250x250 {
        margin-right: 3px;
        display: flex;
        flex-direction: column;
    }

    .carta-250x250 a
     {
        text-align: left;
    }

    .pareja-de-cartas-250x250-1 {
        display: flex;
        flex-direction: row;
    }

    .pareja-de-cartas-250x250-2 {
        display: flex;
        flex-direction: row;
    }

    /*estilos de noticias de corrientes*/

    #noticias-de-corrientes .titulo {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #noticias-de-corrientes .carta-500x500-1 {
        grid-column-start: 1;
    }

    #noticias-de-corrientes .carta-500x500-2 {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    

    #noticias-de-corrientes aside {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        background-color: #f5f5f567;
        border-radius: 5px;
    }

    /*estilos de noticias de corrientes*/

    /*estilos de interior*/
    #interior .titulo {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #interior .carta-500x500-1 {
        grid-column-start: 1;
        text-align: left;
    }

    #interior .carta-500x500-2 {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    

    #interior aside {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f5f5f5a8;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        background-color: #cdc4c45b;
        border-radius: 5px;
    }

    .publicidad-750x250 {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    /*estilos de interior*/

    /*estilos de curiosidades*/
    #curiosidades .titulo {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #curiosidades .carta-500x500-1 {
        grid-column-start: 1;
    }

    #curiosidades .carta-500x500-2 {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    

    #curiosidades aside {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        background-color: #f5f5f567;
        border-radius: 5px;
    }

    #curiosidades aside {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f5f5f5a8;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        background-color: #cdc4c45b;
        border-radius: 5px;
    }
    /*estilos de curiosidades*/

    #camaro {
        max-width: 1250px;
    }

    .titulo-reservado {
        grid-column-start: 1;
        grid-column-end: 5;
        text-align: left;
    }

    .img-reservado img {
        width: 1000px;
    }

    .txt-reservado {
        display: inline-block;
        width: 30%;
    }

    .txt-img {
        display: flex;
        flex-direction: row;
    }

}